[2016-08-02 16:18] MehulSojitra16 opened #1 "Can't use extension."
Hi,

I have added a AKSideMenu through cocoapod in swift project.
I can access methods and properties of AKSideMenu, But can't access UIViewController extension.
Also can't define AKSideMenuDelegate.
See attached screen shot.

![error](https://cloud.githubusercontent.com/assets/16378636/17336213/c677ed8e-58fa-11e6-848c-25a14fe3238b.png)

[2016-08-29 03:53] dogo commented on #1
Hi @MehulSojitra16 , could you please update to 1.1.1.
Thanks

[2016-08-29 14:41] yasinbor opened #2 "How to implement it on existing navigationController"
Hey everyone, i would like to implement this only one class and i don't want to use storyboard version. Because i will show the same class every time when one of menu items picked.

If i use storyboard i have to add segue to class and it will initialise same class every time.

I just want to implement this not in appDelegate but in one of classes in navigationController and when user taps any menu

[2016-09-03 07:27] MehulSojitra16 commented on #1
Thank you.
Its awesome sidebar and easy to use. Thanks again.

On Mon, Aug 29, 2016 at 9:23 AM, Diogo Autilio <notifications@github.com>
wrote:

--
Thanks,
Mehul Sojitra

[2016-09-03 13:18] #1 closed

[2016-09-04 11:18] Euphrates-Media opened #3 "Swift 3 Support"
Hi
When will you update to Swift 3?

[2016-09-05 21:02] dogo commented on #3
Yep! @Euphrates-Media, please take a look on https://github.com/dogo/AKSideMenu/tree/feature/swift3 branch

[2016-09-05 21:02] #3 closed

[2016-09-16 00:09] dogo commented on #3
@Euphrates-Media please update to version 1.2

[2016-09-17 04:41] Euphrates-Media commented on #3
Thanks !

A.V.Ebrahimi
vakilzadeh@gmail.com

On Fri, Sep 16, 2016 at 4:39 AM, Diogo Autilio <notifications@github.com>
wrote:

[2016-09-26 21:26] shshalom opened #4 "Need swift 2.3 support"

[2016-09-29 18:17] dogo commented on #4
Sorry but it's not my goal support swift 2.3, you should consider migrate to 3.0

[2016-09-29 18:17] #4 closed

[2016-09-29 21:02] shshalom commented on #4
And so I did :-)

[2016-10-03 09:50] ssuhanov opened #5 "How to use only left view controller"
Hi, I want to use AKSideMenu only at the left side (there is burger menu in my application), but the empty right view controller still showing when I slide from right side to left. How can I turn off the right view controller? Thanks.

[2016-10-03 10:07] ssuhanov commented on #5
Sorry, I have found solution. Just add ```self.panGestureRightEnabled = false``` to the RootViewController. :)

[2016-10-03 10:07] #5 closed

[2016-10-03 17:56] Alex293 commented on #5
I would be nice to be able to use only one menu because we have to instantiate one useless view controller. When you open the left one you try to close the right one and if it doesn't exit it crash.
ou should use rigthVC?.close()
Tho great work here !!

[2016-11-15 13:12] Alex293 opened #6 "Issue with modals"
Hi I use a AKSideMenu controller as my root vc. I have an issue with modals because if I present a modal over it I can't use the SideMenu property and If I the the presenting vc I got the AKSideMenu which don't have a side menu it self.

TL;DR It would be great that the side menu can use it own side menu property !

[2016-11-16 16:27] anandramv opened #7 "Improvement to make RightSide Menu as optional"
Can you improvise the code to make right side menu to be optional? At present we have to enter Right side and left Side view controllers while initializing AKSideMenu.

Would be great if we make both as optional.

[2016-11-18 11:51] dogo commented on #6
Hi, @Alex293 could you please provide me a sample app ? Thanks

[2016-11-18 12:12] dogo commented on #7
Hi @anandramv could you please take a look on develop branch and tell me if its okay 💃
Thanks

[2016-11-18 12:21] anandramv commented on #7
Looks perfect!!! Thank you! 👍

[2016-11-21 04:09] dogo commented on #7
please update to 1.3.0

[2016-11-21 04:09] #7 closed

[2016-11-21 16:12] anandramv commented on #7
Thank you!! :)

[2016-11-28 15:10] ismaelgobernado opened #9 "Error if there is not rightMenuViewController"
in the awakeFromNib i have:
[code]
this provokes an exception in  showLeftMenuViewController() line 288
[code]
accordingly to the declaration is an optional property so it can be nil
[code]

thanks

[2016-11-28 15:14] dogo commented on #9
Are you using the 1.3.0 version?

[2016-11-28 15:43] ismaelgobernado commented on #9
I was using 1.2 , it works perfect with 1.3  thanks for your help

[2016-11-28 15:43] #9 closed

[2016-11-28 16:12] #6 closed

[2016-12-02 13:39] Priyank2016 opened #10 "How to decrease or increase size of contentView?"
Hello,,, Every one

I want to decrease size of Content View which contains menu button .. I have tried all property  but It's not decreased.

Example :
When i press menu button on  HomeViewController  (e.g. "Left") that  view more decreased and show full menu (e.g just display only menu button of Homeviewcontroller)

[2016-12-02 16:15] dogo commented on #10
Hi @Priyank2016

Could you please me more clear about what you want, I can't understand.

Thanks

[2016-12-05 06:12] Priyank2016 commented on #10
![simulator screen shot dec 5 2016 11 33 19 am](https://cloud.githubusercontent.com/assets/23315089/20875275/69982088-badf-11e6-91e8-fb46cab25460.png)

Thank you for your quick replay..

now, I have attached screen and also write the question in image. I hope you understand well my query.. thanks for your library and i love so much,,

[2016-12-05 11:50] dogo commented on #10
Hi @Priyank2016 ,

yep, is possible use the property ```.contentViewScaleValue``` the default value is 0.7

[2016-12-05 12:02] Priyank2016 commented on #10
Hello @dogo , Thanks for response

.contentViewScaleValue property change the height of content View but content View show only menu button for close the menu screen.

Menu frame is such as (e.g. 300 if screen width is 320 - width .contentViewScaleValue = 9.0)

menu frame  utilize more UIScreen() width part that show 90% menu and 10% Contentview

[2016-12-05 12:26] dogo commented on #10
hum, currently there is no way to achieve what you want. Exists two public attributes to manage the contentView ```.scaleContentView```  and ```.contentViewScaleValue```.

A PR is always welcome :P

[2016-12-09 13:29] #10 closed

[2016-12-09 16:18] marcoslacerda opened #11 "AKSideMenu for Objective C"
Hello again guy,

Do you have a similar component written on Objective C.

Thanks a lot

[2016-12-09 16:27] dogo commented on #11
No :(. I'm sorry, but you can write a swift-objextive-c bridge file

[2016-12-09 16:29] #11 closed

[2016-12-11 01:47] Gerst20051 commented on #9
made a comment on your initial commit about another occurrence when rightMenuViewController is nil. please go through and make sure all instances are covered so no crashes can occur.

[2016-12-12 11:54] dogo commented on #9
@Gerst20051, please check the most recent code not the initial commit.

Thanks

[2016-12-12 15:51] Gerst20051 commented on #9
@dogo https://github.com/dogo/AKSideMenu/commit/68d9dc4b87adc18d9ac5bcb63aa62c710351624a

[2016-12-12 15:52] Gerst20051 commented on #9
@dogo it's present in the current code but that code hasn't changed since the initial commit.

[2016-12-12 15:55] dogo commented on #9
@Gerst20051 , please comment in the current code showing what should be changed or open a PR

[2016-12-12 16:03] Gerst20051 commented on #9
@dogo i don't actually see the occurrence anymore. will have to check the code for the pod version i'm using. maybe the pod hasn't been updated yet.

[2016-12-12 16:05] Gerst20051 commented on #9
I think it might have been this line in version 1.2. https://github.com/dogo/AKSideMenu/blob/1.2/AKSideMenu/AKSideMenu.swift#L646

[2016-12-12 16:19] dogo commented on #9
Yep, this is fixed since 1.3.0

[2017-02-01 16:51] CodeReaper commented on #2
I can let you have a peek in my `application:didFinishLaunchingWithOptions:`

[code]

I believe that is all you need to setup this menu programmatically. Best of luck :)

[2017-02-01 18:26] dogo commented on #2
Yep, that's it! Thanks @CodeReaper

[2017-02-01 18:26] #2 closed

[2017-02-21 11:00] meszarospeter opened #17 "Status bar issue"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.3.3`
 - Device OS version: `10.1`
 - Device Name: `iPhone 6`

###### Reproduction Steps
 1. Set scaleContentView to false
 2. Set menuPrefersStatusBarHidden to true
 3. Show left menu
 4. The status bar doesn't disappear

###### Expected Result
The sta

[2017-02-21 14:06] CodeReaper opened #18 "Still crashing a little"
Hmmm... I have just now noticed you asked me to check the develop branch on #16.

I am seeing code ala:

[code]

... which concerns me a bit. Since I am back here looking at issues because I have had another !-related crash. :)

I am willing to arrange the code to avoid using explicitly unwrapped optionals and use lets and guards instead unless you would rather do it yourself or do something diffe

[2017-02-21 14:45] dogo commented on #18
Hi @CodeReaper , It will be nice a PR removing force unwraps. I was trying to spare some time to do this, but you know... time is short =(

[2017-02-21 14:59] CodeReaper commented on #18
@dogo Okay expect a PR soonish...

[2017-02-21 15:29] dogo commented on #17
Thanks for reporting @meszarospeter, sadly the fix is not so simple. I will fix this this week.

[2017-02-22 03:06] dogo commented on #18
@CodeReaper feel free to close this issue, when you have time to validate you PR

[2017-02-22 08:13] CodeReaper commented on #18
@dogo I validated it as best I can, but I am thinking the issue stays open until a new version is published. :)

[2017-02-22 13:50] dogo commented on #17
@meszarospeter Please update to 1.3.5

[2017-02-22 13:50] #17 closed

[2017-02-22 13:53] dogo commented on #18
Please update to 1.3.5

[2017-02-22 13:53] #18 closed

[2017-02-22 14:38] meszarospeter commented on #17
Thank you. I really appreciate your effort.

[2017-06-12 08:53] roccx opened #20 "Pan gesture issue with MKMapView inside contentViewController"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.3.5`
 - Device OS version: `10.3.2`
 - Device Name: `iPhone 6 Plus`

###### Reproduction Steps
 1.  Add a `MKMapView` inside the `contentViewController` of the `AKSideMenu`.
 2. Enable pan gesture configurations in your side menu.
 3. The pan gestures

[2017-06-12 17:37] #20 closed

[2017-06-26 10:19] exocode opened #22 "How to disable "swipe gesture" on rightViewController?"
- [X ] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.3.5`
 - Device OS version: `11.0`
 - Device Name: `iPhone 7`

###### Reproduction Steps
 1. place TableView rightviewController
 2. add tableViewAction

[code]

 3. start from right to left swiping on tableViewCell.

###### Expected Result

TableViewC

[2017-06-26 12:51] dogo commented on #22
@exocode

From AKSideMenu documentation

**Enable or disable right pan gesture recognition. Defaults to True.**
[code]

[2017-06-27 02:24] exocode commented on #22
I added a "Demo" to make the issue "exploreable":

SImply run the Demo App. Based on your Demo. Only added the Swipe-Functions.
If you point the "Initial ViewController" Arrow to the "RightViewController" you will see, that swipes are working. If you point it back to "RootViewController" the Swipe does not work:

https://github.com/exocode/AKSideMenu

[2017-06-27 17:14] dogo commented on #22
Thanks @exocode , I'll take a look at it

[2017-07-01 14:37] exocode commented on #22
I found out, that when I put` panGestureEnabled` into the ` class RootViewController : AKSideMenu, AKSideMenuDelegate`

[code]

it's working (nearby)!

 It's only working when I put `panGestureEnabled` into `awakeFromNib`. The delegate method of My AKSideMenuDelegate cannot set this value. So I cannot switch to "normal state" where the swipe should open the menu.

Do I have to "refresh" anything?

[2017-07-05 07:32] barankaraoguzzz opened #23 "Unwind segue error"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.3.5`
 - Device OS version: `10.3`
 - Device Name: `iPhone 6`

###### Reproduction Steps
 I should use unwind segue in my app or dissmiss viewController.i am using this code for ViewController transition.
`self.sideMenuViewController!.setContentViewCont

[2017-07-13 05:54] jorden0154 commented on #23
let myProfileVC = storyboard.instantiateViewController(withIdentifier: "MyProfileViewController") as! MyProfileViewController
let obj : UINavigationController = self.sideMenuViewController?.contentViewController as! UINavigationController
obj .pushViewController(myProfileVC, animated: true)
self.sideMenuViewController!.hideMenuViewController()

[2017-07-28 06:41] barankaraoguzzz commented on #23
Thank you for answer. it is working :)

[2017-07-28 06:42] #23 closed

[2017-08-21 07:15] pratikdonda opened #24 "pop to view controller"
How to pop view controller when we switched from menu view controller using following code?
self.sideMenuViewController!.setContentViewController(viewController, animated: true)
self.sideMenuViewController!.hideMenuViewController()

[2017-09-03 06:01] chathuralakmal opened #25 "App Freezing when using on Xcode and normally crash"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.0.0`
 - Device OS version: `6.0`
 - Device Name: `iPhone 5`

###### Reproduction Steps
 1. in my SecondViewController in Menu i have another step to go "Detail Second View Controller"
if i go their and come back and press menu app get freeze. if i unpl

[2017-09-03 06:02] chathuralakmal commented on #25
![screenshot 2017-09-03 11 32 03](https://user-images.githubusercontent.com/12609979/30000955-978fb2ca-909b-11e7-8bb4-6fc610013bca.png)
![screenshot 2017-09-03 11 32 09](https://user-images.githubusercontent.com/12609979/30000956-97938b34-909b-11e7-95fb-e5cdfca13c54.png)

[2017-09-04 16:53] dogo commented on #25
Please update to 1.3.5

[2017-09-04 19:06] chathuralakmal commented on #25
I just found out it happens only when i install google ads sdk in pod. Amd
not for every devices. Just one device i have been testing.ill update and
check

On Sep 4, 2017 22:23, "Diogo Autilio" <notifications@github.com> wrote:

Please update to 1.3.5

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/dogo/AKSideMenu/issue

[2017-09-24 00:12] Yoloabdo opened #26 "UI blocker"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.0.0`
 - Device OS version: `6.0`
 - Device Name: `iPhone 6`

###### Reproduction Steps
 1. Open my app
 2. Browse through
 3. App freezes

###### Expected Result
Normal flow
###### Actual Result
App UI freezing
### Tell us what could be improved:
I deb

[2017-09-24 00:13] Yoloabdo commented on #26
- [ yes] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.0.0`
 - Device OS version: `6.0`
 - Device Name: `iPhone 6`

###### Reproduction Steps
 1. Open my app
 2. Browse through
 3. App freezes

###### Expected Result
Normal flow
###### Actual Result
App UI freezing
### Tell us what could be improved:
I

[2017-09-24 14:20] #25 closed

[2017-09-25 16:59] nsnull0 opened #27 "Swift 4 support"
###### Include the following:
 - AKSideMenu version: `1.3.5`
 - Device OS version: `11`
 - Device Name: `iPhone X`

### Swift 4 Support:
Please maintenance for swift 4 support,
I could help if you guys want.

[2017-09-26 03:17] dogo commented on #27
Working on it :D

[2017-09-27 04:10] dogo commented on #27
Please update to 1.4.0

[2017-09-27 04:10] #27 closed

[2017-09-27 09:09] nsnull0 commented on #27
Perfect! Thank you.

[2017-09-27 23:18] dogo commented on #26
Could you please provide me more information about it ? I could not reproduce the issue, maybe could you please build a sample for it

[2017-09-27 23:19] dogo commented on #24
Issues should respect the issues template.

[2017-09-27 23:19] #24 closed

[2017-09-30 08:31] calli23 opened #29 "White space on top of scaled ContentViewController"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.4.0`
 - Device OS version: `11.0.1`
 - Device Name: `iPhone 7`

###### Reproduction Steps
 1. Use storyboard solution of AKSideMenu.
 2. Make FirstViewController with NavigationBar (custom backgroundcolor)
 3. Start App and showLeftMenuViewController

[2017-10-06 13:16] calli23 commented on #29
After desperate hours of trying to solve this issue I got an answer. For everyone, just check off translucent checkbox for navigationBar...that worked for me.

[2017-10-06 13:16] #29 closed

[2017-11-02 19:48] calli23 opened #31 "ContentViewContainer invisible after rotation"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.4.0`
 - Device OS version: `11.1`
 - Device Name: `iPhone 7`

###### Reproduction Steps
 1. Open app in landscape mode.
 2. Make your app show left menu.
 3. now rotate to portrait mode.

###### Expected Result
The ContentViewContainer should be visibl

[2017-11-03 15:30] dogo commented on #31
@calli23
humm that's weird, I tested were and seems fine

https://www.dropbox.com/s/r37t51xsv29w5gn/Sem%20T%C3%ADtulo.mov?dl=0

[2017-11-03 20:29] calli23 commented on #31
I'm actually using the storyboard solution.

[https://1drv.ms/v/s!AinWFbAKlwAgiysWWCLj0FveEXhC](url)

This was made with an iPhone X but the same effect can be observed with an iPhone 7. I think it does not rely on the device.

[2017-11-07 18:25] calli23 commented on #31
Lesson learned:
Don't use methods in RootViewController that may overwrite one from AKSideMenu class. I used to define viewWillTransitionToSize() in RootViewController which completely overwrote the standard behavior defined in AKSideMenus method willAnimateRotation().

[2017-11-07 18:25] #31 closed

[2017-11-21 18:14] dkeys222 opened #32 "Right Side menu Images"
How can i add right side menu images??

[2017-11-28 10:07] Thanhnc85 opened #34 "ios 11 A white bar appears on the navigation bar"
when scale content viewcontroller, a white bar appears on the navigation bar

[2017-11-28 15:13] dogo commented on #34
White space on top of scaled ContentViewController #29

[2017-11-28 15:13] #34 closed

[2017-11-29 02:42] nicolettemanas opened #35 "Black bar in iOS11 devices"
Hello,

Noticed some black bar on top of the Navigation Bar when menu is displayed in any device running on iOS11.

![simulator screen shot - ipad air - 2017-11-29 at 13 01 45](https://user-images.githubusercontent.com/3390967/33358795-d0441760-d505-11e7-806c-a91bc24e44ad.png)
![simulator screen shot - iphone 6s - 2017-11-29 at 12 58 43](https://user-images.githubusercontent.com/3390967/33358796-d

[2017-11-29 22:55] dogo commented on #35
Black/white space on top of scaled ContentViewController #29

[2017-11-29 23:01] dogo commented on #32
Please look the sample

https://github.com/dogo/AKSideMenu/blob/develop/AKSideMenuExamples/Simple/AKSideMenuSimple/Controllers/LeftMenuViewController.swift

or

https://github.com/dogo/AKSideMenu/blob/develop/AKSideMenuExamples/Storyboard/AKSideMenuStoryboard/Controllers/LeftMenuViewController.swift

[2017-11-29 23:01] #32 closed

[2017-11-29 23:02] dogo commented on #26
@Yoloabdo Please again using the develop branch, the MR #33 could be related.

[2017-11-29 23:03] #22 closed

[2017-12-04 04:50] nicolettemanas commented on #35
Checking off Translucent from the Navigation Bar doesn't seem to work. Same problem with ASKSideMenu Simple example.

[2017-12-05 20:14] dogo commented on #35
@nicolettemanas please test the develop branch, commit 4c62fcf95ea8ac6321d3628f3bb5b7311d15f75b should fix it

[2017-12-06 05:31] nicolettemanas commented on #35
hi @dogo,

The fix works great on Portrait. I am still seeing the same issue when used with iPhones iOS11 on _landscape_ though.

I tried changing the content of `updateContentViewAdditionalSafeAreaInsets` to the ff:

[code]

and that seems to be working. I just removed the part of getting `self.view.safeAreaLayoutGuide.layoutFrame.minY` and setting it as the top inset.

Let me know if this is oka

[2017-12-07 10:02] ios-aspire opened #36 "How to show side menu from Other view controller ?"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.0.0`
 - Device OS version: `11.0`
 - Device Name: `iPhone 8`

###### Expected Result
I have login view at the start, now when I get the response I wanted to show the HomeViewController with the Menu Button On the left side and on click of the menu show

[2017-12-22 03:15] dogo commented on #35
@nicolettemanas
hum thats weird, seems fine for me running on Portrait or Landscape, could you please make a video showing the issue?

[2017-12-22 04:02] nicolettemanas commented on #35
Hi @dogo

[2017-12-22 04:28] nicolettemanas commented on #35
Hi @dogo

It does seem weird. The fix is not working on a real iOS device but is working on Portrait for Simulator. Please see ff GIFs:

`Simulator, iPhone6plus iOS11.1`
![simulator-iphone6plus-ios11 1](https://user-images.githubusercontent.com/3390967/34285235-0ea9dcaa-e713-11e7-9b0a-81d9e739427d.gif)

`Device iPhone6plus iOS11.0`
![device-iphone6plus-ios11 0](https://user-images.githubuserconten

[2018-01-09 15:07] KushThakkar opened #37 "interactivePopGestureRecognizerEnabled - Make Disable"
Hello,

I want to disable  interactivePopGestureRecognizer.

[2018-01-17 09:03] muthusabarinathan opened #38 "how to support arabaic language?"
- [ ] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.0.0`
 - Device OS version: `6.0`
 - Device Name: `iPhone 6`

###### Reproduction Steps
 1.
 2.
 3.

###### Expected Result

###### Actual Result

### Tell us what could be improved:

[2018-01-17 11:30] dogo commented on #38
Please fill out the issue template. Feel free to reopen

[2018-01-17 11:30] #38 closed

[2018-01-17 11:35] dogo commented on #37
Hi @KushThakkar, please next time open an issue with the TEMPLATE ISSUE filled.

To turn off the `interactivePopGestureRecognizer`  set the AKSideMenu property to `interactivePopGestureRecognizerEnabled` to false

[2018-01-17 11:36] #37 closed

[2018-01-17 11:36] #26 closed

[2018-01-31 17:33] furkankadioglu opened #39 "Unexpectedly found nil"
- AKSideMenu version: 1.4.1
 - Device OS version: Latest
 - Device Name: `iPhone X`

###### Reproduction Steps
 1. Imported AKSideMenu pod and installed
 2. Imported Chart pod and installed
 3. Trying to add a chart to my view controller OR trying to add a button with background image.
 4. Crash.

###### Actual Result
Result and crash: http://i.hizliresim.com/BLPoRM.png
Code screen: http://i.hizli

[2018-01-31 18:03] dogo commented on #39
@furkankadioglu Could you please provide me a sample? Or compare you code with the Storyboard sample

[2018-01-31 18:36] furkankadioglu commented on #39
@dogo Hello dogo, thank you for fastest reply.

Here is my project source: https://ufile.io/tx23p (without pods)

[2018-01-31 20:56] furkankadioglu commented on #39
@dogo Did you examine?

[2018-01-31 21:28] dogo commented on #39
Downloading now

[2018-01-31 21:48] dogo commented on #39
@furkankadioglu

https://www.dropbox.com/s/c3v2m6ijvtk0wfd/Untitled.mov?dl=0

Please watch my video.

[2018-01-31 22:03] furkankadioglu commented on #39
@dogo Hi again,

Thank you for recording a video. You're awesome. But it is not nil, you are looking ViewController. Button is in the first controller. (There is have IBOutlet weak var). No problem forget it.

I think you're looking wrong controller. Button is here:
![screen shot 2018-02-01 at 01 02 50](https://user-images.githubusercontent.com/5060068/35649987-b8e3ee52-06eb-11e8-8f56-55dd8fd38f13

[2018-01-31 22:16] furkankadioglu commented on #39
@dogo There is another example with [Chart](https://github.com/danielgindi/Charts)

This is working (without AKSideMenu)
![screen shot 2018-02-01 at 01 13 09](https://user-images.githubusercontent.com/5060068/35650436-236a2f92-06ed-11e8-88bd-0b12642149bb.png)

This is not working (with AKSideMenu / Same code)
 - Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional value
![scr

[2018-01-31 22:27] furkankadioglu commented on #39
Waiting your reply and thank you for huge support @dogo

[2018-01-31 23:18] dogo commented on #39
Seems fine too but I had to make the touchUpInside link

https://www.dropbox.com/s/1x401nztos8ph76/Untitled2.mov?dl=0

[2018-01-31 23:30] furkankadioglu commented on #39
@dogo Did you examine last files and screenshots?

[2018-02-01 14:25] furkankadioglu commented on #39
Waiting for reply @dogo 🥇

[2018-02-02 21:47] furkankadioglu commented on #39
Still waiting for any solution.. @dogo

[2018-02-12 12:30] AlexandrPonomarev commented on #39
@furkankadioglu Your crash is not related to the side menu of AksideMen. Understand your code and problems in it yourself.

[2018-02-14 00:57] dogo commented on #39
Indeed is not a AKSideMenu issue. Sorry @furkankadioglu

[2018-02-14 00:57] #39 closed

[2018-02-18 15:21] pvn commented on #10
@dogo Could you please provide a way to reduce the size.

[2018-03-12 05:47] afsalkp123 opened #40 "how to call side menu over the context..?"
- [ ] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.0.0`
 - Device OS version: `6.0`
 - Device Name: `iPhone 6`

###### Reproduction Steps
 1.
 2.
 3.

###### Expected Result

###### Actual Result

### Tell us what could be improved:

[2018-03-12 12:16] dogo commented on #40
Please provide information filling the issue template

[2018-03-12 12:16] #40 closed

[2018-04-25 14:26] vishalpethani opened #42 "Shadow is not visible"
![simulator screen shot - iphone 8 - 2018-04-25 at 19 49 50](https://user-images.githubusercontent.com/22548020/39251963-30e77352-48c2-11e8-82ec-a57243a4e0c1.png)

shadow is not visible

I also write the following code in RootViewController

        self.contentViewShadowColor = .black
        self.contentViewShadowOffset = CGSize(width: 2, height: 2)
        self.contentViewShadowOpacity = 0.6

[2018-06-15 22:16] shaikh1110 commented on #42
Hey Devs, even i am facing this issue... no matter what... i spent so many hours but couldn't achieve to get shadow on center view... So i made a work around on sideview controllers to show a shadow layer but its not the same as having for original

`override func viewDidAppear(_ animated: Bool) {
        let sL = CALayer()
        sL.frame = CGRect(x: 0, y: 26, width: 46, height: uiSize.height -

[2018-07-25 11:57] flamurbeqiri1 opened #43 "Get the position/frame of content View controller when side menu is opened"
###### Using:
 - AKSideMenu version: `1.4.1`
 - Device OS version: `11.0`
 - Device Name: `iPhone 6s`

### How to get:
position/frame (width & height) of content View controller when side menu is opened

[2018-09-23 10:30] PaulEhrhardt commented on #42
+1
I also have this issue.

[2018-09-23 10:42] PaulEhrhardt opened #44 "Image on BackgroundImageView is not showing up"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.4.1`
 - Device OS version: `12.0`
 - Device Name: `iPhone 7`

###### Reproduction Steps
 1. Setup AKSidemenu
 2. Assign an image to the `backgroundImage` property
 3. Background image does not show up

###### Expected Result
Image should be visible.

#

[2018-09-26 00:49] dogo commented on #42
Testing the version 1.4.2 I realised, the contentView shadow is working as expected

![simulator screen shot - iphone x - 2018-09-25 at 21 45 58](https://user-images.githubusercontent.com/1487375/46050864-ca252380-c10c-11e8-97bd-6fa2b7795378.png)
![simulator screen shot - iphone x - 2018-09-25 at 21 46 00](https://user-images.githubusercontent.com/1487375/46050866-ca252380-c10c-11e8-8aab-fb83f40d2

[2018-09-26 00:51] dogo commented on #44
Thats weird @PaulEhrhardt , seems fine here with storyboard and without

![simulator screen shot - iphone x - 2018-09-25 at 21 50 09](https://user-images.githubusercontent.com/1487375/46050913-15d7cd00-c10d-11e8-8b20-e31a7d13f756.png)

[2018-09-26 00:52] dogo commented on #43
It's not possible

[2018-09-26 00:52] #43 closed

[2018-09-26 00:53] dogo commented on #35
Bug fixed

[2018-09-26 00:53] #35 closed

[2018-09-26 08:31] PaulEhrhardt commented on #44
Thank you i will do and test it out.

[2018-09-28 05:54] Nitinbond opened #45 "Manage corner spaces."
- [ ] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.0.0`
 - Device OS version: `6.0`
 - Device Name: `iPhone 6`

###### Reproduction Steps
 1.
 2.
 3.

###### Expected Result

###### Actual Result

### Tell us what could be improved:
Getting corner spaces in content view controller [
![screenshot 2018-0

[2018-10-01 11:38] balkrishanyadav opened #46 "Content view shadow effect....."
Hello, I am using  AKSideMenu For My App. I have to implement Content view Shadow View In like attached manner.
![c_users_lenovo_appdata_local_packages_microsoft skypeapp_kzf8qxf38zg5c_localstate_a8eed1c7-408f-4a0f-a4a0-317e6f262c6e](https://user-images.githubusercontent.com/6735695/46286349-7f882900-c59c-11e8-81b1-3ef5cbee0220.png)

Thanks

[2018-10-01 11:54] dogo commented on #45
The content view corner radius. Defaults to 0.

`public var contentViewCornerRadius: CGFloat`

[2018-10-01 11:54] #45 closed

[2018-10-01 11:57] dogo commented on #46
Probably you will need those properties

`public var contentViewShadowOffset: CGSize`
Defaults to CGSizeZero.

`public var contentViewShadowOpacity: Float`
Defaults to 0.4.

`public var contentViewScaleValue: CGFloat`
Defaults to 0.7.

[2018-10-03 12:41] PaulEhrhardt commented on #44
Same issue using https://github.com/dogo/AKSideMenu/releases/tag/1.4.2

My `MainViewController` derives from AKSideMenu. When i set the background image inside the overridden `viewDidLoad` it does not show up.

However if i set the backgroundImage property directly on startup in my AppDelegate like in the examples it shows up.

[2018-10-03 13:57] gauravlnx opened #47 "Calling variable sideMenuViewController in UIViewController extension freezes the app when it is not in view heirarchy"
- [ ] I have verified there are no duplicate active or recent bugs, questions, or requests

If in a viewController I access the defined in the UIViewController extension, the app freezes
[code]
This happens if the side menu is not in the view Heirarchy. The app goes into an infinite loop and app freezes.

###### Include the following:
 - AKSideMenu version: `1.0.0`
 - Device OS version: `6.0`
 - D

[2018-10-03 23:14] dogo commented on #47
Please provide me a sample

[2018-10-03 23:18] dogo commented on #44
@PaulEhrhardt Try to set the background image on awakeFromNib() like: `self.backgroundImage = UIImage(named: "Stars")`

[2018-10-04 08:02] PaulEhrhardt commented on #44
Thank you for your help. I do not use Storyboards in my project but i got it running by setting it in the app delegate anyway so i can close this issue now.

[2018-10-04 08:02] #44 closed

[2018-10-04 08:29] balkrishanyadav commented on #46
Thanks Dogo,
 But I have to implement in different manner like below attached image in red color rectangle.
![46286349-7f882900-c59c-11e8-81b1-3ef5cbee0220](https://user-images.githubusercontent.com/6735695/46461930-a1bcb980-c7dd-11e8-8455-931cbe7c0991.png)

[2018-10-09 12:11] vishalpethani commented on #42
@PaulEhrhardt is right...The shadow is clipped at the bounds of view. That's why we couldn't get the result as expected.

[2018-10-28 18:55] Premal-Khetani opened #48 "Instance member 'autoresizingMask' cannot be used on type 'UIView'"
- [ ] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.0.0`
 - Device OS version: `11.4`
 - Device Name: `iPhone 8 Plus`

###### Reproduction Steps
 1. Build the project.

###### Expected Result
successfully build.
###### Actual Result
not able to build the project.
### Tell us what could be improved:
can

[2018-10-28 19:07] dogo commented on #48
Xcode version?

[2018-10-29 17:14] Premal-Khetani commented on #48
@dogo  xcode 9.4

[2018-10-30 02:31] dogo commented on #48
Update to Xcode 10

[2018-11-26 07:48] yoohanna opened #49 "How to Pass an object from RootViewController to contentViewController"
Hi
I want to pass an object(Customer) from RootViewController into contentViewController but I can`t do that.

[code]

Thanks

[2018-12-24 08:49] fadizant opened #50 "Sidemenu stuck in swipe"
- [ ✔️] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.4.2`
 - Device OS version: `12.0`
 - Device Name: `iPhone 6s`

###### Reproduction Steps
 1. add sidemenu using pod
 2. using storyboard like sample
 3. add rightmenu only

###### Expected Result
swipe and release before fully open must be close or o

[2018-12-24 09:04] fadizant commented on #50
after double check, I found that if you don't set leftMenuViewController the swipe back will not work fine, any suggest to fix this issue

Thanks

[2018-12-24 12:46] fadizant commented on #50
here is the problem

    func hideMenuViewControllerAnimated(_ animated: Bool) {
            let rightMenuVisible: Bool = self.rightMenuVisible

            if let visibleMenuViewController = (rightMenuVisible ? self.rightMenuViewController : self.leftMenuViewController) {
    .....

I use the **rightMenuViewController** only so when i try to slide the menu with and release it in blow of open limi

[2018-12-26 05:49] fadizant commented on #42
`self.contentViewContainer.clipsToBounds = false`
will fix it

[2019-01-02 15:20] sazidmsi opened #51 "Memory not manage on Navigation from leftview controller"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.0.0`
 - Device OS version: `6.0`
 - Device Name: `iPhone 6`

###### Reproduction Steps
 1.  Just try to tap on menu icon and select an item from table
 2. Check the memory for the debug navigator pane in left hand side.
 3. If you repeat this step, mem

[2019-01-03 18:01] nihasmata commented on #50
I have the same issue ,I am using only rightMenuViewController. When i disable leftMenuViewController like below swipe is not working correctly. When i release my finger near to safe area, swipe freezes.

 self.contentViewController = storyboard.instantiateViewController(withIdentifier: "contentViewController")
            //self.leftMenuViewController = storyboard.instantiateViewController(withId

[2019-01-06 15:14] dogo commented on #50
Thanks guys! Fixed
@fadizant
@nihasmata

[2019-01-06 15:16] #50 closed

[2019-01-06 15:17] #48 closed

[2019-01-08 03:04] dogo commented on #51
@sazidmsi
Could not reproduce, tested with Simple App example and the memory consumption remained at 57.4 ~ 57,7
<img width="270" alt="screen shot 2019-01-08 at 00 01 45" src="https://user-images.githubusercontent.com/1487375/50807329-add27e80-12d8-11e9-8038-3c87aa6f2def.png">

Could you please provide me more information about the issue?

[2019-01-08 03:07] #49 closed

[2019-01-08 03:07] #47 closed

[2019-01-08 03:07] #36 closed

[2019-01-08 03:48] dogo commented on #46
Please @balkrishanyadav test the develop branch, should be fixed. Sorry for taking so long

[2019-01-08 03:49] dogo commented on #42
@vishalpethani @shaikh1110 @PaulEhrhardt @fadizant
Please test the develop branch, should be fixed. Sorry for taking so long

[2019-01-08 05:51] fadizant commented on #42
it's work fine in develop branch
thanks

[2019-01-09 18:16] harjotsingh007 opened #52 "How to apply corner radius with shadow to content view. Please advice?"
Hi, i just want to know how can i achieve shadow and corner radius at same time in the contentviewcontroller. I tried to play with the values you have tried, still not able to achieve what i actually want.

Thanks for the beautiful library.

[2019-01-09 18:56] dogo commented on #52
Please fill correctly the issue form

[2019-01-09 19:07] harjotsingh007 commented on #52
Seriously, i tried to edit it again, first time putting the issue in library, still the issue i think you have understood well, i just want to achieve the corner radius on contenViewcontainer with shadow enabled because i tried either values, i am able to achieve once per time. Like, for example if i want corner radius, shadow is not there, and if i want shadow, corner radius is not there.

[2019-01-16 17:25] harjotsingh007 commented on #52
Still waiting for the reply.Please give some advise?

[2019-01-27 18:12] santoshrajbista opened #53 "didHideMenuViewController delegate is never called."
- [ ] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.4.3`
 - Device OS version: `12.0`
 - Device Name: `iPhone X`

###### Issue
willHideMenuViewController delegate is being called instead of didHideMenuViewController.

[2019-01-28 02:05] dogo commented on #53
Wow nice catch, I will fix this tomorrow

[2019-01-29 02:12] dogo commented on #53
Done, @santoshrajbista please test the develop branch

[2019-01-29 18:56] harjotsingh007 commented on #52
Can you please help with my issue with shadow and corner radius, i need it urgent.

[2019-01-30 18:45] santoshrajbista commented on #53
didHideMenuViewController is **called as expected now**.

But it **crashes** when you **have only one menu view controller**. Does not crash if you provide both left and right menu view controllers.

[2019-01-31 11:33] dogo commented on #53
Could not reproduce @santoshrajbista

https://www.dropbox.com/s/dwqztmm8ndb0te2/akside%2353.mov?dl=0

[2019-02-02 04:49] santoshrajbista commented on #53
@dogo It appears to work fine.
Sorry. I wonder what made my code crash then. It's working fine now.

[2019-02-22 11:21] tjsingh04 opened #54 "How to change left menu width"
How we can change left menu controller width?

[2019-02-25 07:24] mohsinsurani1 opened #55 "Failed to verify bitcode in AKSideMenu.framework"
- [ ] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.0.0`
 - Device OS version: `12.0`
 - Device Name: `iPhone 8`

###### Reproduction Steps
 1. archive it using Xcode 10

###### Expected Result
1. Error came - Failed to verify bitcode in AKSideMenu.framework/AKSideMenu:
error: Cannot extract bundle from

[2019-02-26 15:16] RNUK opened #56 "Push view controller from leftMenuViewController?"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.3.5`
 - Device OS version: `12.1`
 - Device Name: `iPad Pro`

###### Reproduction Steps
 1. Setup as per example
 2. Create button in LeftMenuController to push content
 3.

Using code:
[code]

###### Expected Result
Left menu hides and new view is pus

[2019-03-07 18:10] Lailan opened #57 "ContentViewCornerRadius is available?"
- [X] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.0.0`
 - Device OS version: `12.1`
 - Device Name: `iPhone X`

###### Reproduction Steps

###### Expected Result

###### Actual Result

### Tell us what could be improved:

First, congratulations on this wonderful lib.
I would like to know if there is a

[2019-03-07 19:33] #57 closed

[2019-04-04 09:00] codeguesser opened #58 "need swift 5 support"
![WX20190404-165933](https://user-images.githubusercontent.com/1662117/55543154-1031f400-56fb-11e9-8ffa-f89619f0023b.png)

[2019-04-17 12:29] jainam1993 opened #59 "space at top right and left corner of navigation bar while using aksidemenu"
![Screenshot 2019-04-17 at 5 58 18 PM](https://user-images.githubusercontent.com/14103884/56287592-69a61400-613a-11e9-8fe7-6679cc7fc2dd.png)

it seems like there is corner radius or white space at the top of navifation bar ,

[2019-04-17 12:29] jainam1993 opened #60 "space at top right and left corner of navigation bar while using aksidemenu"
![Screenshot 2019-04-17 at 5 58 18 PM](https://user-images.githubusercontent.com/14103884/56287592-69a61400-613a-11e9-8fe7-6679cc7fc2dd.png)

it seems like there is corner radius or white space at the top of navigation bar , how to remove it ?

[2019-04-17 12:52] dogo commented on #59
Please fill the issue template

[2019-04-17 12:52] dogo commented on #60
Dupe

[2019-04-17 12:52] #60 closed

[2019-04-17 13:05] jainam1993 commented on #60
hi  @dogo ,

[2019-04-18 05:59] jainamSynoverge opened #61 "left and right corner show rounded space like there is a corner radius given to side menu ,how to remove it ?"
- [yes ] I have verified there are no duplicate active or recent bugs, questions, or requests
yes

###### Include the following:
 - AKSideMenu version: latest version downloaded via pod
 - Device OS version: 12.0
 - Device Name: `iPhone 6s`

###### Reproduction Steps
 1.integrated akside menu via podfile
 2. in parent view controller my navigation is custom and its top constraint from superview
 3

[2019-05-21 12:32] josipbernat opened #62 "didHideMenuViewController is never called"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.4.3`
 - Device OS version: `All versions`
 - Device Name: `All devices`

###### Reproduction Steps
 1. Set some class (such as left menu view controller) as AKSideMenu delegate
 2. Put breakpoint at **func sideMenu(_ sideMenu: AKSideMenu, didHideMenuVi

[2019-05-22 17:28] dogo commented on #62
https://github.com/dogo/AKSideMenu/commit/b174c37306a18601a7fdc72640a38d6cfaa6ee08
Its already fixed, but not yet released.

[2019-05-22 17:54] dogo commented on #58
Please update to 1.4.4

[2019-05-22 17:54] #58 closed

[2019-05-22 17:55] dogo commented on #62
Please update to 1.4.4

[2019-05-22 17:55] #62 closed

[2019-06-14 05:27] emresekeroglu opened #63 "I don't use navbar large title and different navbar color"
Hello,
I want to use my custom navbar, I do all the settings on the board, but when I run my application comes first as I do when I go to different pages, the standard navbar comes in standard settings.

How can i fix this issue

first run my custom navbar
![first run](https://user-images.githubusercontent.com/13061013/59485353-3227bf80-8e7e-11e9-81d7-cec51bc328be.png)
_________________
tapped dif

[2019-08-31 17:47] keshu1024 commented on #56
[code]

[2019-09-03 11:10] chetanpanchal94 opened #64 "How to open side menu from other view controller"
I have rootVC as AKSideMenu, content view is tabbar and a left and a right menu.
when I navigate to another view controller from tabbar, it is not opening menu and my navigated view controller freezes.

Can you please help, how to open a menu after navigation?

[2019-09-13 12:12] jamalnasir opened #65 "Navigation Bar Changes"
I implemented the storyboard method of AKSideMenu. The problem I am facing is that the navigation bar changes to white and without back button. Whereas, it is fine with FirstControllerView.

It all happens when I set the animation to true, as:

[code]

The other view controllers doesn't push if animation is set to false but the FirstViewController.

The normal background color for the navigation b

[2019-09-27 11:54] chetanpanchal94 opened #66 "AKSideMenuDelegate in multiple view controllers"
###### Reproduction Steps
I have two menus right and left and a content view controller.
I have implemented AKSideMenuDelegate in content view controller and in right menu controller. Delegates method are called in only content view controller not in right menu view controller. when i implement AKSideMenuDelegate in only  right menu view controller delegates method gets called.

###### Expected Re

[2019-10-10 15:15] boardmain opened #67 "exception on UIButton Constructor ios 13.1 xcode 11"
- AKSideMenu version: 1.4.4
 - Device OS version: 13.1

if i enable Exception Breakpoints in xcode for all type of error
i have many error here

`
@IBDesignable
open class AKSideMenu: UIViewController, UIGestureRecognizerDelegate {

    var visible: Bool = false
    var leftMenuVisible: Bool = false
    var rightMenuVisible: Bool = false
    var sideMenuDelegateNotify: Bool = false
    var origina

[2019-10-22 05:28] iosparesh opened #68 "Thread 1: EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0) in preferredStatusBarStyle method"
- [ ] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.0.0`
 - Device OS version: `6.0`
 - Device Name: `iPhone 6`

###### Reproduction Steps
 1.
 2.
 3.

###### Expected Result

###### Actual Result

### Tell us what could be improved:

[2019-11-07 17:30] aBhanuTeja opened #69 "UI is getting overlapped"
<img width="384" alt="Screenshot 2019-11-07 at 10 57 33 PM" src="https://user-images.githubusercontent.com/46840819/68412512-5d56d680-01b2-11ea-9771-245f8806890f.png">

[2019-11-14 06:35] Devyani-Tact commented on #10
You can change **.contentViewInPortraitOffsetCenterX** value and it will help to decrease the size of content view and in my case i passed this value to 200 and it hide the content view completely.

[2019-11-18 06:23] SalehMohammedSaleh opened #70 "Navigation bar overlap status bar iOS 13 xcode 11"
Dears,

As you can see in the attached photo, navigation bar after showing the side menu it come behind the status bar, this issue only happens in iOS 13 earlier versions don't have this issue
<img width="306" alt="Screen Shot 2019-11-18 at 9 20 00 AM" src="https://user-images.githubusercontent.com/28461601/69029111-10aaa100-09e5-11ea-99ba-2882b104d711.png">

[2019-11-19 11:49] hackiftekhar opened #71 "App Freeze when sideMenuController is not in hierarchy."
https://github.com/dogo/AKSideMenu/issues/47 is the duplicate card that hasn't been fixed yet. I cannot reopen due to insufficient permission.

###### Include the following:
 - AKSideMenu version: `1.4.4`
 - Device OS version: `13.1`
 - Device Name: `iPhone 11 Pro Max (Simulator)`

###### Reproduction Steps
 1. Create a brand new Xcode project and add AKSideMenu library.
 2. Embed ViewController i

[2019-11-20 14:51] dogo commented on #70
Could not reproduce, please provide a sample

[2019-11-20 14:52] dogo commented on #68
Need more info

[2019-11-20 14:52] #68 closed

[2019-11-20 14:59] dogo commented on #67
Could not reproduce
<img width="287" alt="Screen Shot 2019-11-20 at 11 59 08" src="https://user-images.githubusercontent.com/1487375/69249770-32df2300-0b8d-11ea-892f-5e4d2a2bbe92.png">

[2019-11-20 15:00] #55 closed

[2019-11-20 15:06] dogo commented on #71
Thanks for reporting this issue and providing useful information.
Please update to 1.4.5

[2019-11-20 15:06] #71 closed

[2019-11-20 15:07] dogo commented on #47
@hackiftekhar
Please update to 1.4.5

[2019-11-20 17:05] hackiftekhar commented on #71
Thanks @dogo for quick action on this.

[2019-11-21 14:23] bekironat commented on #70
I think the issue is related to UIViewController's present method. The sidemenu container view controller's frame grows after dismiss.
It is hard to produce the problem but it is also related with the status bar height.
When  the uinavigationbar overlaps after dissmissing presented uiviewcontroller, side menu also goes up. When I left the app and came back, navigationbar comes to normal position.

[2020-01-31 06:54] usamaazam10 commented on #56
@RNUK This is how I achieve this functionality

let vc = SomeViewController
        (UIApplication.shared.delegate as? AppDelegate)?.sideMenuViewController?.hideMenuViewController()
            (((UIApplication.shared.delegate as? AppDelegate)?.sideMenuViewController?.contentViewController) as? UINavigationController)?.pushViewController(vc, animated: true)

[2020-02-16 06:00] adnanafridi619 opened #72 "iOS Deployment Target 13.3.1 AKSideMenu is not working"
I use AKSideMenu in my project , Everything was working fine with iOS target 13.1.1 in my mobile but when I updated my mobile to  iOS 13.3.1 , application  is not  running in my mobile due to AKSideMenu .
Error Message
dyld: Library not loaded: @rpath/AKSideMenu.framework/AKSideMenu
  Referenced from: /private/var/containers/Bundle/Application/541410A0-7C92-493A-AD9B-947191EE28AA/SalesReport.app/S

[2020-02-20 02:12] aheze commented on #72
Yeah, looks like an iOS 13.3.1 error. Hopefully Apple puts a fix soon...
Maybe check this out: https://github.com/Alamofire/Alamofire/issues/3051

[2020-03-26 14:27] RuhsarGunes commented on #70
I have a similar issue mentioned here https://stackoverflow.com/questions/57922502/uinavigationbar-overlapping-status-bar-when-open-project-in-xcode-11. Do you have any work around?

[2020-03-26 16:56] RuhsarGunes commented on #70
I managed to fix the issue in Xamarin adding this line(Window.rootViewController = navBar) into the below method in the ViewPresenter class. It is mentioned here https://stackoverflow.com/questions/57922502/uinavigationbar-overlapping-status-bar-when-open-project-in-xcode-11.

protected override UINavigationController CreateNavigationController(UIViewController viewController)
        {

[2020-04-25 12:03] Z1Z0 commented on #45
`public var contentViewCornerRadius: CGFloat`
@dogo I searched for it but I didn't find it.

[2020-04-25 12:20] Z1Z0 commented on #57
@Lailan Have you solve this?

[2020-04-25 15:56] dogo commented on #45
contentViewCornerRadius has been removed, due to many issues. Sorry

[2020-04-25 15:57] dogo commented on #57
As #45, this feature has been removed

[2020-04-25 16:55] Z1Z0 commented on #45
Ok, Thank you.

[2020-05-02 06:51] Alecattie opened #73 "IBOutlet on SideMenu is nil"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.4.5`
 - Device OS version: `13.0`
 - Device Name: `iPhone 11 Pro Max`

###### Reproduction Steps
 1. add an outlet to the SideMenuViewController like a label or a button via storyboard
 2. Change its properties programmatically in the ViewDidLoad examp

[2020-06-03 18:30] Z1Z0 opened #74 "AKSideMenu doesn't open when using the app for the first time"
- [x] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.4.5`
 - Device OS version: `13.4.1`
 - Device Name: `iPhone 6S Plus`

When any user tries to open the app for the first time AKSideMenu doesn't I can't click the navigation button to make it open, he should close the app and open it again to make it wo

[2020-06-04 00:17] #74 closed, assigned to nobody

[2020-10-29 18:36] ioseng42 opened #76 "Please add Swift Package Manager (SPM) support."
Great little library.  Would like to use again!
Please add Swift Package Manager support so I can easily integrate it into my current project.

[2020-10-29 23:23] dogo commented on #76
Hi @ioseng42 , could you please test the develop branch?

[2020-10-30 04:38] #72 closed, assigned to nobody

[2020-10-30 04:38] #67 closed

[2020-10-30 04:40] #69 closed

[2020-11-02 21:54] ioseng42 commented on #76
Branch 'develop' appears to be working fine.  Thanks!

[2020-11-02 23:46] dogo commented on #76
Great

[2020-11-02 23:46] #76 closed, assigned to nobody

[2021-01-11 07:12] KuldeepAIP opened #77 "How to set UITabBar controller as AKSideMenu cotentViewController?"
Firstly I have used AKSidemenu and when i press any item from sidemenu i move to particular controller like below.

[code]

but now i want to use `UITabBarController` so after login i use `AKSideMenu` & `UITabBarController` like this.

[code]

but now when i press any sidemenu item it moves to only `UITabBar` initial controller. here is my code.

[code]

1 solution to move `UITabBar` particular su

[2021-05-28 13:21] AkshaySharma2230 opened #78 "Root is not Getting set"
When I set my root to go to direct in my main controller. i can't show my navigation bar or if I show my navigation bar then I tapped on button to get sidemenu side-menu are not showing.

[2021-06-20 21:14] Quailcreek opened #79 "Package Manager Fails"
<img width="729" alt="Screen Shot 2021-06-20 at 2 12 49 PM" src="https://user-images.githubusercontent.com/14036156/122688551-c34e7100-d1d1-11eb-9391-e2ef93e09160.png">

- [ ] I have verified there are no duplicate active or recent bugs, questions, or requests

###### Include the following:
 - AKSideMenu version: `1.4.5`
 - Device OS version: `14.5`
 - Device Name: `All`

###### Reproduction Steps

[2021-06-30 03:42] dogo commented on #79
Please Update to 1.4.6 @Quailcreek

[2021-06-30 03:42] #79 closed, assigned to nobody

[2021-09-26 14:18] fpazarbas opened #81 "Behavior bug at additionalSafeAreaInsets when constraints fixed to bottom"
there was behavior bug when contentviewcontroller fixed to bottom safearealayoutguide.

I have added following code to my project at AKSideMenu updateContentViewAdditionalSafeAreaInsets()
after setting insets.top.
 let window = UIApplication.shared.keyWindow
                let bottomPadding = window?.safeAreaInsets.bottom
                if insets.bottom < bottomPadding! {
                    ins

[2021-09-27 02:57] dogo commented on #81
Hi @fpazarbas

Thanks for reporting this issue, please test this branch `fix/bottom-safe-area`

[2021-09-27 05:19] #51 closed

[2021-09-27 05:19] #42 closed

[2021-09-27 05:20] #46 closed

[2021-09-27 05:20] #52 closed

[2021-09-27 05:20] #56 closed

[2021-09-27 05:21] #59 closed

[2021-09-27 05:22] #78 closed, assigned to nobody

[2021-10-18 08:03] Fareeha-Naz commented on #54
I am also facing this issue..... Did you resolve that issue..... please let me know

[2021-10-18 08:05] Fareeha-Naz opened #83 "Hi dear."
How we can open side bar on click event... like on button or image click event

[2021-10-19 19:59] Quailcreek commented on #54
// This sets the offset of the menu
contentViewInPortraitOffsetCenterX = yourValueGoesHere // CGFloat - from center of screen
contentViewInLandscapeOffsetCenterX = yourValueGoesHere // CGFloat - from center of screen

[2021-10-20 10:38] #83 closed, assigned to nobody